<nav class=" navbar navbar-expand-lg">
    <a class="nav-brand"> Name</a>
    <ul>
        <li><a href ="/scrape">Scrape the headlines</a></li>
        <li><a href ="/saved">Saved Headlines</a></li>
    </ul>
</nav>

<div class="container">
    <h1>Scraped Articles</h1>
    <div id="display-headlines">
        {{#each db_headlines}}
        {{#unless this.saved}}
        <div class="row">
            <div class="col-10">
                <h3>{{this.title}}</h3>
                <h2>{{this.link}}</h2>
            </div>
        </div>
        {{/unless}}
        {{/each}}
    </div>
</div>