<nav class=" navbar navbar-expand-lg">
    <a class="nav-brand"> Name</a>
    <ul>
        <li><a href ="/scrape">Scrape the headlines</a></li>
        <li><a href ="/saved">Saved Headlines</a></li>
    </ul>
</nav>

<div class="container">
    <h1>Scraped Articles</h1>
    <div id="display-headlines">
        {{#each articles}}
       
        <div class="row">
            <div class="col-10">
                <h3><a class="article-link" target="_blank" href={{this.link}}>{{this.title}}</a></h3>
                {{!-- <a class="btn btn-success save">Save Article</a> --}}
            </div>
        </div>
        
        {{/each}}
    </div>
</div>